tp03/src/xsd/echec.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://ujf-grenoble.fr/echec"
           targetNamespace="http://ujf-grenoble.fr/echec">
    <xs:element name="echec" type="Echec"/>
    <xs:complexType name="Echec">
        <xs:sequence>
            <xs:element name="commentaire" type ="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
